{% comment %}
  Renders icon with text block

  Accepts:
  - block: {Object} passes in the block information.

  Usage:
  {% render 'icon-with-text',
    block: block
  %}
{% endcomment %}
{%- liquid
 
  assign item_1_exists = false
  if block.settings.heading_1 != blank or block.settings.description_1 != blank
    assign item_1_exists = true
  endif

  assign item_2_exists = false
  if block.settings.heading_2 != blank or block.settings.description_2 != blank
    assign item_2_exists = true
  endif

  assign item_3_exists = false
  if block.settings.heading_3 != blank or block.settings.description_3 != blank
    assign item_3_exists = true
  endif


 
  assign item_1_has_media = false
  if block.settings.icon_1 != 'none' or block.settings.image_1 != null
    assign item_1_has_media = true
  endif

  assign item_2_has_media = false
  if block.settings.icon_2 != 'none' or block.settings.image_2 != null
    assign item_2_has_media = true
  endif

  assign item_3_has_media = false
  if block.settings.icon_3 != 'none' or block.settings.image_3 != null
    assign item_3_has_media = true
  endif

  
  assign text_only_all_items = true
  if item_1_exists and item_1_has_media
    assign text_only_all_items = false
  elsif item_2_exists and item_2_has_media
    assign text_only_all_items = false
  elsif item_3_exists and item_3_has_media
    assign text_only_all_items = false
  endif
-%}

<ul
  class="icon-with-text icon-with-text--{{ block.settings.layout }} list-unstyled{% if text_only_all_items %} icon-with-text--text-only{% endif %}"
  {{ block.shopify_attributes }}
>
  {%- if item_1_exists -%}
    <li class="icon-with-text__item">
      {%- if block.settings.image_1 == null and block.settings.icon_1 != 'none' -%}
        {%- render 'icon-accordion', icon: block.settings.icon_1 -%}
      {%- elsif block.settings.image_1 != null -%}
        <img
          src="{{ block.settings.image_1 | image_url }}"
          {% if block.settings.image_1.alt != blank %}
            alt="{{ block.settings.image_1.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          class="icon-with-text__image"
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}

      {% comment %} INÍCIO: Contêiner para texto (título e descrição) {% endcomment %}
      <div class="icon-with-text__content">
        {%- if block.settings.heading_1 != blank -%}
          <span class="h4 inline-richtext">
            {{- block.settings.heading_1 -}}
          </span>
        {%- endif -%}

        {% comment %} NOVO: Adiciona a descrição 1 se ela não estiver vazia {% endcomment %}
        {%- if block.settings.description_1 != blank -%}
          <div class="icon-with-text__description rte">
            {{- block.settings.description_1 -}}
          </div>
        {%- endif -%}
      </div>
      {% comment %} FIM: Contêiner para texto {% endcomment %}
    </li>
  {%- endif -%}

  {%- if item_2_exists -%}
    <li class="icon-with-text__item">
      {%- if block.settings.image_2 == null and block.settings.icon_2 != 'none' -%}
        {%- render 'icon-accordion', icon: block.settings.icon_2 -%}
      {%- elsif block.settings.image_2 != null -%}
        <img
          src="{{ block.settings.image_2 | image_url }}"
          {% if block.settings.image_2.alt != blank %}
            alt="{{ block.settings.image_2.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          class="icon-with-text__image"
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      
      {% comment %} INÍCIO: Contêiner para texto (título e descrição) {% endcomment %}
      <div class="icon-with-text__content">
        {%- if block.settings.heading_2 != blank -%}
          <span class="h4 inline-richtext">
            {{- block.settings.heading_2 -}}
          </span>
        {%- endif -%}

        {% comment %} NOVO: Adiciona a descrição 2 se ela não estiver vazia {% endcomment %}
        {%- if block.settings.description_2 != blank -%}
          <div class="icon-with-text__description rte">
            {{- block.settings.description_2 -}}
          </div>
        {%- endif -%}
      </div>
      {% comment %} FIM: Contêiner para texto {% endcomment %}
    </li>
  {%- endif -%}

  {%- if item_3_exists -%}
    <li class="icon-with-text__item">
      {%- if block.settings.image_3 == null and block.settings.icon_3 != 'none' -%}
        {%- render 'icon-accordion', icon: block.settings.icon_3 -%}
      {%- elsif block.settings.image_3 != null -%}
        <img
          src="{{ block.settings.image_3 | image_url }}"
          {% if block.settings.image_3.alt != blank %}
            alt="{{ block.settings.image_3.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          class="icon-with-text__image"
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}

      {% comment %} INÍCIO: Contêiner para texto (título e descrição) {% endcomment %}
      <div class="icon-with-text__content">
        {%- if block.settings.heading_3 != blank -%}
          <span class="h4 inline-richtext">
            {{- block.settings.heading_3 -}}
          </span>
        {%- endif -%}

        {% comment %} NOVO: Adiciona a descrição 3 se ela não estiver vazia {% endcomment %}
        {%- if block.settings.description_3 != blank -%}
          <div class="icon-with-text__description rte">
            {{- block.settings.description_3 -}}
          </div>
        {%- endif -%}
      </div>
      {% comment %} FIM: Contêiner para texto {% endcomment %}
    </li>
  {%- endif -%}
</ul>