<div class="container-main-vantagens-{{ section.id }} page-width">
    <div class="container-header-vantangens-{{ section.id }} strong-color">
        <p class="subtitle-section subtitle-header-{{ section.id }}">{{ section.settings.subtitle }}</p>
        <h2 class="title-section">{{ section.settings.title }}</h2>
    </div>
    <div class="container-content-vantangens-{{ section.id }}">
        {% for block in section.blocks %}
            <div class="card-vantangem-{{ section.id }}">
                {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url: width: 70, height: 70 }}" alt="{{ block.settings.image.alt | escape }}" width="66" height="70" loading="lazy" />
                {% endif %}
                <div class="text-vantagens-{{ section.id }}">
                    <p class="text-vantagem-{{ section.id }} title-{{ section.id }}">{{ block.settings.title }}</p>
                    <p class="text-vantagem-{{ section.id }} description-{{ section.id }}">{{ block.settings.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    #shopify-section-{{ section.id }} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .subtitle-header-{{ section.id }} {
        opacity: 0.3;
    }
    .description-{{ section.id }} { 
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        opacity: 0.6;
    }
    .title-{{ section.id }} {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 26px */
    }
    .text-vantagem-{{ section.id }} {
        color: {{ section.settings.color_title_vantagens }};
    }
    .text-vantagens-{{ section.id }} {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
    }
    .card-vantangem-{{ section.id }} {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
    }
    .container-main-vantagens-{{ section.id }} {
        border-radius: 16px;
        background: {{section.settings.background_color}};
        padding: 60px 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .container-content-vantangens-{{ section.id }} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 40px; /* 60px vertical, 40px horizontal */
        width: 100%;
        margin-top: 60px;
    }
    .container-header-vantangens-{{ section.id }} {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    @media screen and (max-width: 768px) {
        .container-content-vantangens-{{ section.id }} {
            grid-template-columns: 1fr;
        }
        .container-main-vantagens-{{ section.id }} {
            display: flex;
            padding: 40px 10px;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
    }
</style>
{% schema %}
    {
        "name": "Vantagens Container",
        "settings": [
            {
                "type": "richtext",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitulo"
            },
            {
              "type": "color",
              "id": "background_color",
              "label": "Cor de fundo",
              "default": "#EAE1D8"
            },
            {
                "type": "color",
                "id": "color_title_vantagens",
                "label": "Cor titulo das vantagens",
                "default": "#000"
            },
        ],"blocks": [
          {
            "name": "Vantagem",
            "type": "text",
            "settings": [
               {
                 "type": "image_picker",
                 "id": "image",
                 "label": "Imagem"
               },
               {
                "type": "text",
                "id": "title",
                "label": "Title"
               },
               {
                "type": "text",
                "id": "description",
                "label": "Description"
               }
            ]
          }
        ],"presets": [
            {
                "name": "Vantagens"
            }
        ]
    }
{% endschema %}